

.homepagenav{
    padding-top: 30px;
}



.custombuttons{
    font-style:initial ;
    -webkit-appearance: none;
    font-size: 20px;
}
.cards{
    padding-top: 100px;
    padding-bottom: 30px;
  
}
.lastrowcards{
    padding-bottom: 100px;
}
.animaledisponibile{
   text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    color:seagreen;
    font-family:'Times New Roman', Times, serif;
}
