


img {

    max-height: 500px;

}



.carouselarrange {
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    
}

.carouselarrange2 {
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}


.petcarousel{border: 2px solid black}