


img {

    max-height: 600px;

}



.carouselarrange {

    margin:auto;
    max-width: 1000px;
    
}

.carouselarrange2 {
    text-align: center;
    padding-top:20px;
    padding-bottom:50px;
}


.petcarousel{border: 2px solid black}