
.navbar-nav{
    margin-left:70px;
    margin-right:50px;
}
.navbarfirst{
    margin-right:30px;
}
.buttonscontainer{
    padding-top: 30px;
    padding-right: 5px;
    
}

.navbarcomp{
    padding-top: 30px;
}